.page-indicator {
  border: 1px solid var(--color-background-strong);
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 10px;
  min-width: 27px;
  text-align: center;
}

.page-indicator.current-page {
  background-color: var(--color-accent);
  color: var(--color-primary-strong);
}

.paginator {
  display: flex;
}

.page-indicator.disabled {
  cursor: default;
  background-color: var(--color-background-soft);
  color: var(--color-primary-strong);
}

.auxiliary {
  background-color: var(--color-primary-strong);
}

.auxiliary.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 980px) {
  .page-indicator {
    font-size: medium;
    min-width: 20px;
  }
}

@media screen and (max-width: 750px) {
  .page-indicator {
    font-size: small;
    min-width: 13px;
    padding: 8px;
  }
}

@media screen and (max-width: 550px) {
  .page-indicator {
    font-size: x-small;
    padding: 6px;
  }
}
