/* #region LiveSeries Skeletons (unused) */

.preview {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: var(--preview-padding) 0;
  color: var(--color-background);
  width: var(--preview-width);
}

.preview-header {
  padding: 0 var(--preview-padding);
  --preview-width-inner: calc(var(--preview-width) - 2 * var(--preview-padding));
  width: var(--preview-width-inner);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.gallery {
  width: 60%;
}

.preview-header .skeleton-text {
  background-color: var(--color-background);
}

.preview.skeleton .thumbnail {
  background-color: var(--color-background-soft);
}

@media screen and (max-width: 980px) {
  .episode {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    width: 70%;
  }

  .details h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 550px) {
  .gallery {
    width: 100%;
  }

  .details h2 {
    font-size: large;
  }
}

/* #endregion */
