:root {
  --color-primary: #bbb;
  --color-primary-strong: #fff;
  --color-background: #262322;
  --color-background-strong: #0b0a09;
  --color-background-soft: #5e5954;
  --color-accent: #2596be;
  --color-accent-soft: #c9dae0;
  --color-accent2: #c9b86e;
  --color-success: #3dc983;
  --color-error: #b64949;

  --card-width: 240px;
  --card-padding: 20px;

  --navbar-height-sm: 100px;
  --navbar-height: 80px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .field {
    background: var(--color-background-soft);
    color: var(--color-primary-strong);
    padding: 2px 4px;
    border-radius: 5px;
    white-space: nowrap;
    user-select: all;
  }

  .scroll-x {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-x::-webkit-scrollbar {
    display: none;
  }

  .cards-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--card-width), max-content)
    );
  }

  .text {
    font-family: @apply font-sans;
    font-weight: 500;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .clickable {
    @apply cursor-pointer hover:opacity-85;
  }

  .underlined {
    @apply bg-left-bottom;
    background-size: 100% 1px;
  }

  .collapsible {
    display: grid;
    grid-template-rows: 1fr;
    transition:
      grid-template-rows 300ms ease,
      opacity 300ms ease;
  }

  .collapsible.collapsed {
    opacity: 0;
    grid-template-rows: 0fr;
  }

  .collapsible.expanded {
    opacity: 1;
    grid-template-rows: 1fr;
  }

  @keyframes jump {
    0%,
    100% {
      transform: translate-y-0;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      @apply -translate-y-1/4;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  .skeleton {
    animation: 4s ease skeleton infinite;
    opacity: 0.4;
  }

  @keyframes skeleton {
    50% {
      opacity: 0.8;
    }

    90%,
    100% {
      opacity: 0.4;
    }
  }

  .skeleton-text {
    height: 21px; /* Font height is 21px */
    max-width: 100%;
    background-color: var(--color-background-soft);
    border-radius: 15px;
  }

  /* This is a lazy solution for the tiptap editor */
  div[contenteditable] {
    outline: none;
  }

  .btn {
    text-align: center;
    color: var(--color-primary-strong);
    border: 1px solid var(--color-primary-strong);
    border-radius: 0;
    min-width: 250px;
    background-color: var(--color-accent);
    padding: 10px;
    display: block;
  }

  .genre {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-background);
    border: 1px solid var(--color-background-strong);
  }
}

.layout-two-column {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.layout-two-column img {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary-strong);
}

button {
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  cursor: pointer;
}

blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 5px solid var(--color-background-soft);
  border-radius: 3px;
}

ul {
  list-style: none;
}

video {
  width: 100%;
  height: 100%;
}

video.hidden {
  visibility: hidden;
}

html {
  height: 95%;
}

body {
  font-family: @apply font-serif;
  font-size: 1.2rem;
}

.color-primary {
  color: var(--color-primary);
}

.link-container {
  display: flex;
  justify-content: stretch;
  width: 250px;
}

.cutoff {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.transition-transform {
  transition: transform 300ms ease;
}

.delete {
  @apply flex cursor-pointer items-center self-stretch p-1 text-error hover:text-primary-strong hover:[background-size:_100%_100%] sm:p-3;
  background: linear-gradient(var(--color-error), var(--color-error)) no-repeat
    right;
  background-size: 0 100%;
  transition: all 200ms ease;
}

.hover-underline {
  @apply hover:underlined bg-right-bottom bg-no-repeat;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1px;
  transition:
    300ms background-size,
    0ms background-position ease-in;
}

.hover-underlined {
  @apply underlined;
}

[disabled] {
  filter: contrast(60%);
  cursor: not-allowed;
}

::selection {
  color: var(--color-primary-strong);
  background: var(--color-accent);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
