.liveseries {
  --preview-width: 240px;
  --preview-padding: 20px;
}

.liveseries .loading-screen {
  justify-content: center;
}

.whats-this {
  color: var(--color-primary-strong);
}

.shows-list {
  gap: 10px;
}

.showing {
  align-self: start;
}

.preview {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: var(--preview-padding) 0;
  color: var(--color-background);
  width: var(--preview-width);
}

.previews,
.previews-list {
  gap: 15px;
}

.previews-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--preview-width), max-content)
  );
  justify-content: center;
}

.embed {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.embed iframe {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
}

.genre {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: 1px solid var(--color-background-strong);
}

.stars {
  position: relative;
}

.stars .fa-star.fa-regular {
  color: var(--color-primary);
}

.stars .fa-star.fa-solid {
  color: var(--color-accent2);
}

.stars-filled {
  position: absolute;
  overflow: hidden;
}

.preview-header {
  padding: 0 var(--preview-padding);
  font-size: medium;
  margin-bottom: 20px;
  justify-content: space-between;
  --preview-width-inner: calc(
    var(--preview-width) - 2 * var(--preview-padding)
  );
  width: var(--preview-width-inner);
}

.preview-header a {
  width: calc(var(--preview-width-inner) - 1em);
  color: var(--color-background);
}

.preview-header i {
  width: 1em;
}

.preview-header .title {
  margin: 0;
}

.liveseries .thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.scroll-x {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.gallery {
  width: 60%;
}

.episode-details {
  width: 100%;
}

.episodes-container.collapsible {
  transition: grid-template-rows 400ms ease, opacity 1s ease;
}

.episodes-header {
  display: grid;
  grid-template-columns: max-content 1.5rem;
  align-items: center;
}

.episodes {
  /* width: calc((480px + 5px * 2) * 2 + 10px); */
  width: 100%;
}

.episode {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-soft);
  color: var(--color-primary-strong);
  padding: 5px;
  border-radius: 5px;
  width: calc(50% - 15px);
  box-sizing: border-box;
}

.watched {
  width: 1.5rem;
}

.details .fa-heart.fa-regular {
  color: var(--color-background-soft);
}

.details .fa-heart.fa-solid {
  color: var(--color-error);
}

.fa-eye {
  color: var(--color-primary-strong);
}

.fa-clock {
  color: var(--color-primary);
  cursor: not-allowed;
}

.fa-eye-slash {
  color: var(--color-accent-soft);
  opacity: 0.8;
}

.search {
  flex-direction: row;
  gap: 20px;
}

.skeleton {
  animation: 4s ease skeleton infinite;
  opacity: 0.4;
}

.previews {
  justify-content: start;
  padding: 0;
}

@keyframes skeleton {
  50% {
    opacity: 0.8;
  }

  90%,
  100% {
    opacity: 0.4;
  }
}

.skeleton-text {
  height: 21px; /* Font height is 21px */
  width: 80%;
  max-width: 100%;
  background-color: var(--color-background-soft);
  border-radius: 15px;
}

.preview-header .skeleton-text {
  background-color: var(--color-background);
}

.preview.skeleton .thumbnail {
  background-color: var(--color-background-soft);
}

.status-container {
  align-items: center;
}

/* Stopped */
.status-1 {
  color: var(--color-primary);
  cursor: pointer;
}

/* Downloading/pending */
.status-2 {
  color: var(--color-primary);
  cursor: wait;
}

.status-progress-bar {
  position: absolute;
  color: transparent;
  background: linear-gradient(var(--color-success), var(--color-success));
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-clip: text;
  transition: background-size 200ms ease;
  cursor: wait;
}

/* Downloaded */
.status-3 {
  color: var(--color-accent);
  cursor: pointer;
}

/* Failed */
.status-4 {
  color: var(--color-error);
  cursor: not-allowed;
}

/* Unknown */
.status-5 {
  color: var(--color-accent2);
  cursor: help;
}

/* Verifying */
.status-6 {
  color: var(--color-accent2);
  cursor: wait;
}

.home-carousel {
  width: 100%;
  position: relative;
  --translate-left: calc(-50%);
}

.home-carousel .carousel-scroller {
  position: absolute;
  opacity: 0;
}

.home-carousel:hover .carousel-scroller {
  opacity: 0.8;
}

.home-carousel .carousel-scroller:hover {
  opacity: 1;
}

.home-carousel .left {
  left: 0;
}

.home-carousel .right {
  right: 0;
}

.home-carousel .carousel-scroller.hidden {
  opacity: 0;
}

.video-container {
  container-type: inline-size;
  position: relative;
}

.video-container video {
  border-radius: 10px;
}

.video-container:fullscreen video,
.video-container video:fullscreen {
  border-radius: 0;
}

.video-icon {
  --radius: 1.75em;

  font-size: 9cqw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: var(--radius);
  height: var(--radius);
  border-radius: 100%;
  opacity: 0.5;
  background: var(--color-background);
  justify-content: center;
  text-align: center;
}

.video-icon.hidden {
  transition: opacity 500ms ease, visibility 500ms ease;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 980px) {
  .episodes {
    justify-content: center;
  }

  .episode {
    width: 70%;
  }

  .embed iframe {
    width: 80%;
  }

  .home-carousel {
    --translate-left: -35%;
  }

  .home-carousel .carousel-scroller,
  .home-carousel:hover .carousel-scroller {
    opacity: 0.9;
  }

  .home-carousel .carousel-scroller.hidden {
    opacity: 0;
  }

  .episode-controls {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    width: 70%;
  }

  .episode {
    width: 100%;
  }

  .embed iframe {
    width: 100%;
  }

  .details h2 {
    font-size: x-large;
  }

  .genres {
    font-size: medium;
  }

  .episode-controls {
    justify-content: center;
    font-size: 0.9rem;
    flex-direction: column;
    gap: 10px;
  }

  .episode-controls .separator {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .gallery {
    width: 100%;
  }

  .search {
    gap: 10px;
  }

  .details h2 {
    font-size: large;
  }

  .genres {
    font-size: small;
  }

  .stars {
    font-size: medium;
  }
}

@media screen and (max-width: 450px) {
  .stars {
    font-size: small;
  }
}
