.preview {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: var(--preview-padding) 0;
  color: var(--color-background);
  width: var(--preview-width);
}

.genre {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: 1px solid var(--color-background-strong);
}

.preview-header {
  padding: 0 var(--preview-padding);
  --preview-width-inner: calc(
    var(--preview-width) - 2 * var(--preview-padding)
  );
  width: var(--preview-width-inner);
}

.liveseries .thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.scroll-x {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.gallery {
  width: 60%;
}

.episode {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-soft);
  color: var(--color-primary-strong);
  padding: 5px;
  border-radius: 5px;
  width: calc(50% - 15px);
  box-sizing: border-box;
}

.preview-header .skeleton-text {
  background-color: var(--color-background);
}

.preview.skeleton .thumbnail {
  background-color: var(--color-background-soft);
}

.video-container {
  container-type: inline-size;
  position: relative;
}

.video-container video {
  border-radius: 10px;
}

.video-container:fullscreen video,
.video-container video:fullscreen {
  border-radius: 0;
}

@media screen and (max-width: 980px) {
  .episode {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    width: 70%;
  }

  .details h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 550px) {
  .gallery {
    width: 100%;
  }

  .details h2 {
    font-size: large;
  }
}
