.modal-background {
  backdrop-filter: blur(6px);
}

.modal {
  --offset-y: 80px;
  top: var(--offset-y);
}

.modal-hidden .modal {
  transform: translateY(calc(-100% - var(--offset-y)));
}

.modal p {
  margin: 5px 0 10px;
}
