@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #bbb;
  --color-primary-strong: #fff;
  --color-background: #262322;
  --color-background-strong: #0b0a09;
  --color-background-soft: #5e5954;
  --color-accent: #2596be;
  --color-accent-soft: #c9dae0;
  --color-accent2: #c9b86e;
  --color-success: #3dc983;
  --color-error: #b64949;

  --card-width: 240px;
  --card-padding: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-x {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-x::-webkit-scrollbar {
    display: none;
  }

  .cards-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--card-width), max-content)
    );
  }

  .home-carousel {
    width: 100%;
    position: relative;
    --translate-left: calc(-50%);
  }

  .carousel-scroller {
    background-color: var(--color-primary);
    color: var(--color-primary-strong);
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 100%;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 200ms ease;
    z-index: 1;
    width: min-content;
    height: min-content;
  }

  .carousel-scroller:hover {
    opacity: 1;
  }

  .carousel-scroller.left {
    transform: translateX(var(--translate-left));
  }

  .carousel-scroller.right {
    transform: translateX(calc(-1 * var(--translate-left)));
  }
}

.serif {
  font-family: "Roboto Slab", serif;
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin: 0 10vw;
}

.clickable:hover {
  opacity: 85%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-primary-strong);
}

button {
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  cursor: pointer;
}

blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 5px solid var(--color-background-soft);
  border-radius: 3px;
}

ul {
  list-style: none;
}

video {
  width: 100%;
  height: 100%;
}

video.hidden {
  visibility: hidden;
}

html {
  background-color: var(--color-background-strong);
  height: 95%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  min-height: 100%;
  padding: 10px 2em;
  margin: 0px calc(20vw - 205px);
}

.color-primary {
  color: var(--color-primary);
}

.link-container {
  display: flex;
  justify-content: stretch;
  width: 250px;
}

.no-overflow {
  overflow: hidden;
}

.cutoff {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.transition-transform {
  transition: transform 300ms ease;
}

.collapsible {
  display: grid;
  grid-template-rows: 1fr;
  transition:
    grid-template-rows 300ms ease,
    opacity 300ms ease;
}

.collapsible.hidden {
  opacity: 0;
  grid-template-rows: 0fr;
}

.delete {
  color: var(--color-error);
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 15px;
  background: linear-gradient(var(--color-error), var(--color-error)) no-repeat
    right;
  background-size: 0 100%;
  transition: all 200ms ease;
}

.delete:hover {
  background-size: 100% 100%;
  color: var(--color-primary-strong);
}

.hover-underline {
  background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-primary)
    )
    no-repeat bottom;
  background-size: 0 2px;
  transition: background-size 200ms;
}

.hover-underline:hover {
  background-size: 100% 2px;
}

.profile-page .field {
  background: var(--color-background-soft);
  color: var(--color-primary-strong);
  padding: 2px 4px;
  border-radius: 5px;
  white-space: nowrap;
  user-select: all;
}

[disabled] {
  filter: contrast(60%);
  cursor: not-allowed;
}

::selection {
  color: var(--color-primary-strong);
  background: var(--color-accent);
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0 0;
  }

  .text {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 10px 1em;
  }

  .profile-page {
    font-size: 1rem;
  }
}
