.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.form input {
  font-family: unset;
  height: 1.5rem;
}

.btn {
  all: unset;
  text-align: center;
  border-radius: 0;
  color: white;
  border: 1px solid white;
  background-color: var(--hacker-green);
  padding-bottom: 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  line-height: 2.5rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-box :is(input, select) {
  margin-top: 3px;
  font-size: 1rem;
  background-color: white;
}

.input-checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  gap: 0.25rem;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0px 0.5rem;
}

.input-checkbox input {
  accent-color: var(--hacker-highlight);
}

.btn-submit {
  margin-top: 1.5rem;
}

.error-msg {
  margin: 0;
  color: red;
  font-family: "Courier New", Courier, monospace;
}

.required-asterisk {
  color: red;
  font-weight: bolder;
}
