.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.login input {
  font-family: unset;
  height: 1.5rem;
}

.login-btn {
  all: unset;
  text-align: center;
  border-radius: 0;
  color: white;
  border: 1px solid white;
  background-color: #12a12a;
  padding-bottom: 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  line-height: 2.5rem;
}

.signup-btn {
  text-decoration: none;
  color: white;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-box > input {
  margin-top: 3px;
}

.submit-btn {
  margin-top: 1.5rem;
}

.error-msg {
  margin: 0;
  color: red;
  font-family: "Courier New", Courier, monospace;
}

.input-label select {
  margin-top: 2px;
  height: 1.75rem;
  width: 200px;
}

.input-label select {
  font-size: 0.9rem;
}
