.liveseries .loading-screen {
  justify-content: center;
}

.liveseries-links a:last-child::after {
  content: "";
}

.preview {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 20px 0;
  color: var(--color-background);
  width: 240px;
}

.shows-list {
  gap: 10px;
}

.showing {
  align-self: start;
}

.previews {
  gap: 15px;
  justify-content: center;
}

.embed {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.embed iframe {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
}

.genre {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: 1px solid var(--color-background-strong);
}

.stars {
  position: relative;
}

.stars .fa-star.fa-regular {
  color: var(--color-primary);
}

.stars .fa-star.fa-solid {
  color: var(--color-accent2);
}

.stars-filled {
  position: absolute;
  overflow: hidden;
}

.preview-header {
  padding: 0 20px;
  font-size: medium;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 200px;
}

.preview-header a {
  width: calc(200px - 1em);
  color: var(--color-background);
}

.preview-header i {
  width: 1em;
}

.preview-header .title {
  margin: 0;
}

.liveseries .thumbnail {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.scroll-x {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
}

.carousel img {
  flex: 1 0 100%;
  width: 100%;
  object-fit: contain;
  scroll-snap-align: start;
}

.gallery {
  width: 60%;
}

.episodes {
  gap: 10px;
  /* width: calc((480px + 5px * 2) * 2 + 10px); */
  width: 100%;
}

.episode {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-soft);
  color: var(--color-primary-strong);
  padding: 5px;
  border-radius: 5px;
  width: calc(50% - 15px);
}

.episode-details {
  width: calc(100% - 2em);
}

.watched {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
}

.details .fa-heart.fa-regular {
  color: var(--color-background-soft);
}

.details .fa-heart.fa-solid {
  color: var(--color-error);
}

.fa-heart {
  cursor: pointer;
}

.fa-eye {
  color: var(--color-primary-strong);
}

.fa-eye-slash {
  color: var(--color-accent-soft);
  opacity: 0.8;
}

.season {
  display: flex;
  align-items: center;
  gap: 15px;
}

.liveseries-links {
  gap: 20px;
}

.preview.skeleton {
  animation: 4s ease skeleton infinite;
  opacity: 0.4;
}

.previews.scroll-x {
  justify-content: start;
  padding: 0;
}

@keyframes skeleton {
  50% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.4;
  }
}

.preview.skeleton .preview-header .skeleton-text {
  width: 80%;
  height: 1rem;
  background-color: var(--color-background);
  border-radius: 15px;
}

.preview.skeleton .thumbnail {
  background-color: var(--color-background-soft);
}

@media screen and (max-width: 980px) {
  .episodes {
    flex-direction: column;
    align-items: center;
  }

  .episode {
    width: 70%;
  }

  .embed iframe {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .liveseries-links {
    justify-content: center;
  }

  .liveseries-links a::after {
    content: "";
    margin-left: 0;
  }

  .gallery {
    width: 70%;
  }

  .episode {
    width: 100%;
  }

  .embed iframe {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .liveseries-links {
    font-size: medium;
  }

  .gallery {
    width: 100%;
  }
}

