.navigation {
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.navigation {
  display: flex;
}

.navigation a img {
  margin: 0px 20px auto 20px;
  padding-top: 10px;
}

.navigation h1 {
  width: min-content;
  white-space: nowrap;
  margin-right: auto;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 25px;
  list-style: none;
  text-align: center;
}

.nav-items li {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  font-weight: 500;
  padding: 4px 10px;
  background-color: black;
  background-size: 0% 3px;
  background-position: left bottom;
  transition: color 0.1s ease-out;
}

.nav-link.active {
  font-weight: 700;
  color: white;
  background-image: linear-gradient(90deg, rgb(18, 161, 42) 100%, black 0%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
}

.user-widget {
  display: flex;
  float: right;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-widget.desktop {
  margin-left: 20px;
}

.user-widget.medium {
  margin-left: 20px;
  transition: background-size 0.2s ease-out;
}

.user-widget.mobile {
  margin-left: auto;
  margin-right: auto;
}

.user-avatar {
  width: 40px;
}

.user-name {
  color: grey;
  text-align: center;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
  font-size: 1.1rem;
  margin-top: 2px;
}

.active .user-name {
  color: white;
}

.lang-selector {
  margin: auto;
  width: 80px;
}

.lang-selector small {
  color: white;
  opacity: 60%;
  font-weight: 400;
  font-size: 0.85rem;
}

.lang-selector button {
  font-weight: bold;
  color: white;
  background: none;
  border: none;
  padding: 0px !important;
  margin: 0px 4px;
}

.lang-selector button.active {
  color: black;
  text-decoration: none;
  background: rgb(199, 241, 43);
  outline-style: solid;
  outline-color: rgb(199, 241, 43);
  outline-width: 1%;
}

.hamburger {
  font-size: 1.6rem;
  z-index: 2;
  padding-left: 15px;
}

.hamburger .fa-times {
  font-size: 2rem;
}

/* Desktop devices */
@media screen and (min-width: 801px) {
  .hamburger {
    display: none;
  }

  .nav-link {
    transition: background-size 0.2s ease-out;
  }
}

/* Smaller display devices */
@media screen and (max-width: 800px) {
  .navigation {
    position: relative;
    width: 95%;
  }

  .nav-items {
    display: flex;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    top: -10px;
    right: -20px;
    padding: 10px 0px 20px;
    margin-right: auto;
    width: 200px;
    background-color: black;
    border-color: dimgray;
    border-style: solid;
    transition: opacity 0.25s ease-out;
    z-index: 1;
  }

  .lang-selector {
    margin-top: 10px;
  }

  .nav-items.open {
    opacity: 1;
  }

  .nav-items.closed {
    pointer-events: none;
  }
}
