@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #bbb;
  --color-primary-strong: #fff;
  --color-background: #262322;
  --color-background-strong: #0b0a09;
  --color-accent: #2596be;
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.text img {
  object-fit: contain;
  max-width: 100%;
  height: unset;
}

.centred {
  text-align: center;
}

.no-select {
  user-select: none;
}

.clickable:hover {
  opacity: 85%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-primary-strong);
}

html {
  background-color: var(--color-background-strong);
  height: 95%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  padding: 10px 2em;
  margin: 0;
  min-height: 100%;
}

.link-container {
  display: flex;
  justify-content: stretch;
  width: 250px;
}

::selection {
  color: var(--color-primary-strong);
  background: var(--color-accent);
}

@media screen and (min-width: 1101px) {
  .text {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  body {
    margin: 0px calc(25vw - 275px);
  }
}
