@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #bbb;
  --color-primary-strong: #fff;
  --color-background: #262322;
  --color-background-strong: #0b0a09;
  --color-background-soft: #5e5954;
  --color-accent: #2596be;
  --color-accent-soft: #c9dae0;
  --color-accent2: #c9b86e;
  --color-success: #3dc983;
  --color-error: #b64949;
}

.serif {
  font-family: "Roboto Slab", serif;
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin: 0 10vw;
}

.text img {
  object-fit: contain;
  max-width: 100%;
  width: unset;
  height: unset;
}

.centred {
  text-align: center;
}

.no-select {
  user-select: none;
}

.clickable:hover {
  opacity: 85%;
  cursor: pointer;
}

.regular {
  font-weight: normal;
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: var(--color-primary-strong);
}

button {
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  cursor: pointer;
}

blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 5px solid var(--color-background-soft);
  border-radius: 3px;
}

ul {
  list-style: none;
}

html {
  background-color: var(--color-background-strong);
  height: 95%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  min-height: 100%;
  padding: 10px 2em;
  margin: 0px calc(20vw - 205px);
}

.color-primary {
  color: var(--color-primary);
}

.link-container {
  display: flex;
  justify-content: stretch;
  width: 250px;
}

.no-overflow {
  overflow: hidden;
}

.cutoff {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.display-none {
  display: none;
}

::selection {
  color: var(--color-primary-strong);
  background: var(--color-accent);
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0 0;
  }

  .text {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 10px 1em;
  }
}
