[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0.7"
mysqlclient = "*"
pylint = "*"
autopep8 = "*"
pep8 = "*"
python-dotenv = "*"
pylint-django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
